nav{
    position: relative;
    left: 33.3%;
    margin: 30px;
}
a{
    text-decoration: none;
    font-size: large;
    color: rgb(59, 55, 55);
    
}
span{
    border-left: 1px solid gray;
    margin: 5px;
    height: 2px;
}

div{
    padding: 10px;
    margin: 0 auto;
    background-color: beige;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}
h2{
    text-align: center;
    color: rgb(7, 102, 102);
    background-color: aqua;
    border-radius: 3px;
    width:80px;
    padding: 2px;
}